
body {
    line-height: 1.9em;
    padding: 40px;
    background: #0e0d0d;
}

.navbar-inverse {
    margin: 40px;
    background: rgba(33, 62, 91, 0.2);
    border: none;
    transition: all 0.3s ease;
}

.morenav {
    background: rgba(33, 62, 91, 1);
    margin-top: 0;
}

.navbar-inverse .navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    color: #fff;
    font-size: 16px;
}

.navbar-nav .dropdown-menu a {
    color: #213e5b !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
    border-bottom: 3px solid #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background: #e95c4e;
    border-color: #e95c4e;
}

h1, h2, h3, h4 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin-bottom: 0.4em;
    color: #213e5b;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

h3:after {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    background: #e95c4e;
    margin: 10px 0 20px 0;
}

.text-center h3:after {
    margin: 10px auto 20px auto;
}

p {
    color: #213e5b;
}

a, button, .fa {
    transition: all 0.3s ease;
}

a {
    color: #fffafa;
}

a:hover {
    color: #213e5b;
    text-decoration: none;
}

.lead {
    color: #fffafa;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 24px;
}

hr {
    border-color: #e1e1e1;
    margin: 70px 0;
}

section .btn {
    border-color: #e95c4e !important;
    padding: 10px 25px;
    color: #213e5b;
}

.jumbotron {
    margin: 0;
    padding: 0;
    height: 250px;
    background: url(../img/banner.jpg) no-repeat center;
}

.internal_banner1 {
    background-image: url(../img/banner_int1.jpg);
}

.internal_banner2 {
    background-image: url(../img/banner_int2.jpg);
}

.carousel {
    z-index: 0;
}

.carousel .item {
    height: 650px;
    background: url(../img/banner.jpg) no-repeat center fixed;
}

.carousel .col-sm-12 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 650px;
}

.carousel h1, .carousel h2 {
    font-size: 70px;
    color: #fff;
    margin-top: 60px;
}

.carousel p {
    color: #fff;
}

.carousel .btn {
    background: none;
    color: #fff;
    border-radius: 0;
    border: 3px solid #fff;
    padding: 15px 35px;
}

.carousel-control {
    background: none;
}

.breadcrumb {
    margin: -20px 0 0 0;
    background: 0;
    border-radius: 0;
    padding-left: 0;
}

section {
    padding: 80px 0 120px 0;
    background: #fff;
}

#sec1 {
    background: url(../img/bg.jpg) no-repeat center bottom fixed;
}

#sec1 .fa {
    font-size: 40px;
}

#sec2 {
    background: #f5f5f5;
}

#sec2 .fa {
    margin-top: 30px;
    font-size: 40px;
}

.socialmedia {
    padding-bottom: 80px;
    background: #fff;
}

.socialmedia .fa {
    font-size: 40px;
    display: block;
}

footer {
    padding: 100px 0;
}

footer .btn {
    color: #fff !important;
    padding: 15px 35px;
    border-color: #fff !important;
}

footer p {
    margin-top: 40px;
    color: #fff;
}

.banners {
    background: #213e5b url(../img/banner.jpg) no-repeat center fixed;
    padding: 150px 0;
}

.banners img {
    box-shadow: 0 40px 90px -40px rgba(12, 15, 36, 0.4);
}

.fa {
    color: #fffafa;
}

.btn {
    margin-top: 25px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 0;
    text-transform: uppercase;
    border-width: 3px;
    background: none !important;
    font-size: 16px;
}

.btn:hover {
    background: #e95c4e !important;
    color: #fff;
    border-color: #e95c4e !important;
}

.btn:hover .fa {
    color: #fff !important;
}

.meetrow img {
    border-radius: 50%;
    margin: 40px auto 20px auto;
}

.categoryrow {
    padding-top: 18px;
}

.categoryrow img {
    margin: 0 0 20px 0;
}

.categoryrow ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.categoryrow ul li a {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: block;
}

.form-control {
    border-radius: 0;
    height: 50px;
    border: 2px solid #ddd;
}

.maprow {
    margin-top: 50px;
}

@media (max-width: 767px) {

    .navbar-inverse {
        background: rgba(33, 62, 91, 1);
    }

    .navbar-inverse .navbar-toggle {
        border: none;
    }

    .dropdown-menu {
        background: #fff !important;
    }

    .categoryrow img {
        margin-top: 30px;
    }

}

@media (min-width: 1350px) {

    .container {
        width: 1320px;
    }

}

.category-detailed .btn, .contactrow .btn {
    margin-bottom: 25px;
}

.contactrow .btn {
    margin-top: 0;
}

.img-inline {
    display: inline;
}

.post-title span {
    color: #2c3e5e;
}

.post-title {
    border-bottom: 1px solid #eee;
}

.post-title a {
    border-bottom: none;
}

#blogBar {
    margin-top: -10px;
}

#blogBar h3 {
    margin-bottom: 10px;
    margin-top: 40px;
}

#blogSearchButton {
    margin: 0;
}

#blogSearchButton > span.fa {
    font-size: 14px;
}


.boton-redondo{
    width:30px;
    height:30px;
    background-color:#fffafa;
    margin-top: 145px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    display: inline-block;
    align-items: center;

}
.boton-redondo:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
}
.boton-redondo a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
}
.color-blanco{
    color: white;
}
.boton-email{
    color: black;
    background-color: #e6e6e6!important;
    border-color: #e6e6e6!important;
}
.menus{
    margin-top: 48px;
    text-transform: uppercase;
    font-weight: bold;
    list-style:none;
}
.font-titulo{
    font-size: 26px;
}
.font-texto{
    font-size: 21px;
}
.margen{
    margin-top: 208px;
}
.margin-texto{
    margin-top: 145px;
}
.margin-span{
    margin-left: 38px;
}

.font-size-text{
    font-size: 21px;
}


.classSeccion {
    padding: 80px 0 120px 0;
    background: none;
}

.margin-text{
    margin-top: 143px;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .margen {
        margin-top: 170px;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .margen {
        margin-top: 1px;
    }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .margen {
        margin-top: 366px;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .margen {
        margin-top: 366px;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .margen {
        margin-top: 366px;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .margen {
        margin-top: 1px;
    }

}

/* mobile small (iphone 3/4/5) ----------- */
@media only screen and (max-width : 320px)  {


}


/* mobile large (android) ----------- */
@media only screen and (max-width : 685px)  {

}
/* ipad portrait/landscape ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

}
/* ipad portrait ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {

}
/* ipad landscape ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)  {


}
/* small displays ----------- */
@media only screen and (min-width : 600px)  {

}

/* 13 inch displays ----------- */
@media only screen and (min-width : 1224px)  {
    .margen {
        margin-top: 155px;
    }
}
}


/* 24 inch iMac ----------- */
@media only screen and (min-width : 1600px) {
    .margen {
        margin-top: 190px;
    }
}
/* 27 inch iMac ----------- */
@media only screen and (min-width : 2400px) {
    .margen {
        margin-top: 366px;
    }
}

